@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body {
  /* font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1em; */
  height: 100%;
  text-align: center;
  background-color: #f5f5f5;
}

a {
  color: black;
}

#guide {
  margin-top: 0px;
}

#changename {
  height: 15px;
  width: 15px;
}

.column {
  flex-grow: 0;
  flex-shrink: 0;
}

.dark-mode:hover {
  background: white;
  color: black;
}

a .navbar-item #clear-battlefield:hover {
  background-color: red;
  opacity: 0.8;
}

button.is-info.lights-on:hover {
  color: black;
  background-color: white;
}

button.lights-off:hover {
  color: white;
  background-color: black;
}

div#guide.container.mt-6.instructions {
  margin-top: 20px;
}

.instructions,
.battlefield {
  display: inline-flex;
}

.header {
  display: inline-block;
  height: 12em;
  margin-bottom: 0em;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.add:hover {
  transform: scale(1.05);
  transform-origin: center;
}

.instructions {
  /* margin-left: 20px; */
  margin-bottom: 0px;
}

.container .instructions {
  margin-bottom: 0em;
}

.add {
  width: 75%;
  margin-bottom: 15px;
  animation: glowingWater 5000ms infinite;
}

/* .collection {
  height: 100%;
  padding-top: 0rem;
} */

section.section.collection {
  padding: 20px;
  height: 100%;
}

.battlefield {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-left: 10px;
  padding: 10px;
  height: 100%;
}

div.column.reservoir {
  /* width: 325px; */
  margin: 25px;
  padding: 10px;
}

div.filling-bar {
  animation: glowingWater 4000ms infinite;
}

#default-filled-card {
  border: 2px solid #0aaaff;
}

#default-empty-card {
  border: 2px solid gray;
}

.empty {
  color: gray;
  opacity: 0.7;
}

.name {
  margin-bottom: 5px;
}

.dropdown {
  padding-left: 2rem;
}

button.delete {
  margin-top: 3px;
}

.powerCounter.title {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.content {
  font-size: 14px;
}

.card-footer-item:hover {
  color: white;
  background-color: gray;
  opacity: 0.6;
}

.card-footer-item.def:hover {
  color: white;
  background-color: #0aaaff;
}

p.title.name {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 25px;
}

div.card-content p {
  font-size: 40px;
}

.disabled {
  opacity: 0;
}

button.delete:hover {
  background-color: red;
}

/* div.media-content {
  background-image: url("https://png.pngitem.com/pimgs/s/679-6794404_dodekka-peter-wocken-design-llc-water-element-transparent.png");
} */

#guide,
.header,
.battlefield,
.collection {
  justify-content: center;
  align-items: center;
}

.add:hover,
#delete:hover,
button.delete:hover,
.button.lights-on:hover,
.button.lights-off:hover,
.card-footer-item:hover {
  transition: all 0.35s ease-out;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* .navbar-item:hover {
  background-color: aqua;
} */

/* Powerbar Glow */
@keyframes glowingPrism {
  0% {
    box-shadow: 0 0 -10px #ffe8f4;
  }
  40% {
    box-shadow: 0 0 20px #ffe8f4;
  }
  60% {
    box-shadow: 0 0 20px #ffe8f4;
  }
  100% {
    box-shadow: 0 0 -10px #ffe8f4;
  }
}

@keyframes glowingWater {
  0% {
    box-shadow: 0 0 -10px #0aaaff;
  }
  40% {
    box-shadow: 0 0 20px #0aaaff;
  }
  60% {
    box-shadow: 0 0 20px #0aaaff;
  }
  100% {
    box-shadow: 0 0 -10px #0aaaff;
  }
}

@keyframes glowingLightning {
  0% {
    box-shadow: 0 0 -10px yellow;
  }
  40% {
    box-shadow: 0 0 20px yellow;
  }
  60% {
    box-shadow: 0 0 20px yellow;
  }
  100% {
    box-shadow: 0 0 -10px yellow;
  }
}

@keyframes glowingPlasma {
  0% {
    box-shadow: 0 0 -10px red;
  }
  40% {
    box-shadow: 0 0 20px red;
  }
  60% {
    box-shadow: 0 0 20px red;
  }
  100% {
    box-shadow: 0 0 -10px red;
  }
}

@keyframes glowingNature {
  0% {
    box-shadow: 0 0 -10px #00dd00;
  }
  40% {
    box-shadow: 0 0 20px #00dd00;
  }
  60% {
    box-shadow: 0 0 20px #00dd00;
  }
  100% {
    box-shadow: 0 0 -10px #00dd00;
  }
}

@keyframes glowingFire {
  0% {
    box-shadow: 0 0 -10px orange;
  }
  40% {
    box-shadow: 0 0 20px orange;
  }
  60% {
    box-shadow: 0 0 20px orange;
  }
  100% {
    box-shadow: 0 0 -10px orange;
  }
}

@keyframes glowingPoison {
  0% {
    box-shadow: 0 0 -10px #c600ff;
  }
  40% {
    box-shadow: 0 0 20px #c600ff;
  }
  60% {
    box-shadow: 0 0 20px #c600ff;
  }
  100% {
    box-shadow: 0 0 -10px #c600ff;
  }
}

@keyframes glowingEarth {
  0% {
    box-shadow: 0 0 -10px #cd921a;
  }
  40% {
    box-shadow: 0 0 20px #cd921a;
  }
  60% {
    box-shadow: 0 0 20px #cd921a;
  }
  100% {
    box-shadow: 0 0 -10px #cd921a;
  }
}

@keyframes glowingPsychic {
  0% {
    box-shadow: 0 0 -10px white;
  }
  40% {
    box-shadow: 0 0 20px white;
  }
  60% {
    box-shadow: 0 0 20px white;
  }
  100% {
    box-shadow: 0 0 -10px white;
  }
}

@keyframes glowingDeath {
  0% {
    box-shadow: 0 0 -10px #424242;
  }
  40% {
    box-shadow: 0 0 20px #424242;
  }
  60% {
    box-shadow: 0 0 20px #424242;
  }
  100% {
    box-shadow: 0 0 -10px #424242;
  }
}

@keyframes glowingMetal {
  0% {
    box-shadow: 0 0 -10px #dddddd;
  }
  40% {
    box-shadow: 0 0 20px #dddddd;
  }
  60% {
    box-shadow: 0 0 20px #dddddd;
  }
  100% {
    box-shadow: 0 0 -10px #dddddd;
  }
}

@keyframes glowingShadow {
  0% {
    box-shadow: 0 0 -10px #6301a6;
  }
  40% {
    box-shadow: 0 0 20px #6301a6;
  }
  60% {
    box-shadow: 0 0 20px #6301a6;
  }
  100% {
    box-shadow: 0 0 -10px #6301a6;
  }
}

@keyframes glowingCreature {
  0% {
    box-shadow: 0 0 -10px magenta;
  }
  40% {
    box-shadow: 0 0 20px magenta;
  }
  60% {
    box-shadow: 0 0 20px magenta;
  }
  100% {
    box-shadow: 0 0 -10px magenta;
  }
}

@keyframes glowingPlague {
  0% {
    box-shadow: 0 0 -10px #ceee00;
  }
  40% {
    box-shadow: 0 0 20px #ceee00;
  }
  60% {
    box-shadow: 0 0 20px #ceee00;
  }
  100% {
    box-shadow: 0 0 -10px #ceee00;
  }
}

@keyframes glowingLife {
  0% {
    box-shadow: 0 0 -10px #00ffd5;
  }
  40% {
    box-shadow: 0 0 20px #00ffd5;
  }
  60% {
    box-shadow: 0 0 20px #00ffd5;
  }
  100% {
    box-shadow: 0 0 -10px #00ffd5;
  }
}

@keyframes glowingToxic {
  0% {
    box-shadow: 0 0 -10px #00ff00;
  }
  40% {
    box-shadow: 0 0 20px #00ff00;
  }
  60% {
    box-shadow: 0 0 20px #00ff00;
  }
  100% {
    box-shadow: 0 0 -10px #00ff00;
  }
}

@keyframes glowingSand {
  0% {
    box-shadow: 0 0 -10px #a99075;
  }
  40% {
    box-shadow: 0 0 20px #a99075;
  }
  60% {
    box-shadow: 0 0 20px #a99075;
  }
  100% {
    box-shadow: 0 0 -10px #a99075;
  }
}
